<div class="sentence">
  <app-audio-controls
    [playbackState]="playbackState"
    (play)="onPlay($event)"
    (stop)="onStop()"
  ></app-audio-controls>
  
  <div class="language-lines">
    <ng-container *ngFor="let lang of displayLanguages">
      <p class="language-line" [class]="'text-' + lang.toLowerCase()">
        <strong>{{ lang }}:</strong>
        <ng-container *ngIf="lang === 'Chinese'">
          <span
            *ngFor="let mapping of sentence.characterMappings"
            class="chinese-char"
            [class.punctuation]="isPunctuation(mapping.char)"
            [class.highlighted]="isHighlighted(mapping)"
            (mouseenter)="highlightGroup(mapping)"
            (click)="playHighlightedAudio()"
            >{{ mapping.char }}</span
          >
        </ng-container>
        <ng-container *ngIf="lang === 'Pinyin'">
          <span
            *ngFor="let mapping of sentence.characterMappings"
            class="pinyin-syllable"
            [class.punctuation]="isPunctuation(mapping.char)"
            [class.highlighted]="isHighlighted(mapping)"
            (mouseenter)="highlightGroup(mapping)"
            (click)="playHighlightedAudio()"
            >{{ mapping.pinyin }}{{ needsSpace(mapping) ? " " : "" }}</span
          >
        </ng-container>
        <ng-container *ngIf="lang !== 'Chinese' && lang !== 'Pinyin'">
          {{ getLanguageText(lang) }}
        </ng-container>
      </p>
    </ng-container>
  </div>
</div> 