<div class="section characters">
  <h2>Characters Progress</h2>
  <h4>{{ characters.length }} characters</h4>
  <div class="grid">
    <ng-container *ngFor="let char of characters">
      <div
        class="cell"
        [class.has-data]="hasCharacterData(char)"
        [class.no-data]="!hasCharacterData(char)"
        (mouseenter)="onCharacterHover(char)"
      >
        <div class="cell-content">
          <div class="character">{{ char.character }}</div>
          <ng-container *ngIf="hasCharacterData(char)">
            <div class="pinyin">{{ char.pinyin }}</div>
            <div class="definition">{{ char.definition }}</div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>

  <!-- Movie Scene Info Panel -->
  <div *ngIf="selectedCharacter && movieScene" class="movie-scene-panel">
    <div class="panel-header">
      <div class="panel-header-top">
        <h3>{{ selectedCharacter.character }} - {{ selectedCharacter.pinyin }}</h3>
        <button class="close-btn" (click)="clearSelection()">×</button>
      </div>
      <div class="panel-sub-header">
        <h4>Initial: {{ movieScene.initial }} - {{ movieScene.actor.substring(0, 10) }}...</h4>
        <h4>Final: {{ movieScene.final || 'ø' }} - {{ movieScene.set.name }}</h4>
        <h4>
          Tone: {{ movieScene.tone }} -
          {{ tones ? tones[movieScene.tone] : 'No tone location found' }}
        </h4>
      </div>
    </div>
    <div class="panel-content">
      <div *ngIf="selectedCharacter.imgUrl" class="info-section image-section">
        <img
          [src]="selectedCharacter.imgUrl"
          [alt]="selectedCharacter.character"
          class="character-image"
        />
      </div>
      <div class="info-section">
        <h4>Radical Props</h4>
        <p>
          <ng-container *ngFor="let prop of getRadicalProps(selectedCharacter.radicals)">
            <div *ngIf="prop">
              <span class="prop-item">{{ prop.radical }}</span> &nbsp;&nbsp;&nbsp;&nbsp; (
              <span class="prop-item">{{ prop.prop }}</span
              >)
            </div>
          </ng-container>
        </p>
      </div>
      <div class="info-section">
        <h4>Movie</h4>
        <ng-container *ngIf="selectedCharacter.movie">
          <p class="movie-text">{{ selectedCharacter.movie }}</p>
        </ng-container>
        <ng-container *ngIf="!selectedCharacter.movie">
          <button
            class="generate-movie-btn"
            (click)="generateMovie()"
            [disabled]="isGeneratingMovie"
          >
            <ng-container *ngIf="!isGeneratingMovie">Generate Movie</ng-container>
            <ng-container *ngIf="isGeneratingMovie">Generating...</ng-container>
          </button>
        </ng-container>
      </div>
    </div>
  </div>
</div>
