<div class="container">
  <!-- Highlight Sidebar Component -->
  <app-highlight-sidebar
    [currentHighlighted]="currentHighlighted"
    (audioRequested)="playAudio($event)"
  ></app-highlight-sidebar>

  <!-- Main Content -->
  <div class="main-content">
    <div class="header">
      <h2>Language Learning Sentences</h2>
      <div>
        <a href="https://yoyochinese.com/chinese-learning-tools/Mandarin-Chinese-pronunciation-lesson/pinyin-chart-table">
          Interactive Pinyin Chart
        </a>
        <br />
        <br />
      </div>
      <!-- Language Controls Component -->
      <app-language-controls
        [languages]="languages"
        [selectedLanguages]="selectedLanguages"
        (selectedLanguagesChange)="onSelectedLanguagesChange($event)"
      ></app-language-controls>
    </div>

    <div class="sentence-grid">
      <app-sentence
        *ngFor="let sentence of sentences"
        [sentence]="sentence"
        [displayLanguages]="displayLanguages"
        [showStructure]="true"
        (wordHighlighted)="onWordHighlighted($event)"
      ></app-sentence>
    </div>
  </div>
</div>
