<div class="container">
  <!-- Highlight Sidebar Component -->
  <app-highlight-sidebar
    [currentHighlighted]="currentHighlighted"
    (audioRequested)="playAudio($event)"
  ></app-highlight-sidebar>

  <!-- Main Content -->
  <div class="main-content">
    <div class="header">
      <h2>Language Learning Sentences</h2>
      <div>
          <a  
            href="https://yoyochinese.com/chinese-learning-tools/Mandarin-Chinese-pronunciation-lesson/pinyin-chart-table"
            >Interactive Pinyin Chart</a
          >
          <br />
          <br />
      </div>
      <div class="controls">
        <div class="select-buttons">
          <button class="control-button" (click)="selectAll()">Select All</button>
          <button class="control-button" (click)="clearAll()">Clear All</button>
        </div>
        <div class="checkbox-group">
          <label *ngFor="let lang of languages" class="checkbox-label">
            <input
              type="checkbox"
              [checked]="selectedLanguages.includes(lang)"
              (change)="toggleLanguage(lang)"
            />
            {{ lang }}
          </label>
        </div>
      </div>
    </div>

    <div class="sentence-grid">
      <app-sentence
        *ngFor="let sentence of sentences"
        [sentence]="sentence"
        [displayLanguages]="displayLanguages"
        [showStructure]="true"
        (wordHighlighted)="onWordHighlighted($event)"
      ></app-sentence>
    </div>
  </div>
</div>
